[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
notebook = "*"
ipywidgets = "*"
ipyevents = "*"
hdbscan = "*"
json5 = "*"
matplotlib = "*"
mpld3 = "*"
numpy = "*"
orjson = "*"
pandas = ">=2.0.0"
plotly = "*"
pyarrow = "*"
pyftdi = "*"
pyserial = "*"
pyzmq = "*"
scipy = "*"
seaborn = "*"
tiflash = "*"
ipympl = "*"
jupyterlab = "*"
requests = "*"
scikit-learn = "*"
tabulate = "*"
numexpr = "*"
bottleneck = "*"
zstandard = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3"
