[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hdbscan = "*"
matplotlib = "*"
numpy = "*"
orjson = "*"
pandas = ">=2.0.0"
pyftdi = "*"
pyserial = "*"
pyusb = "*"
pyzmq = "*"
requests = "*"
scipy = "*"
tiflash = "*"
ipython = "*"
pyarrow = "*"
tabulate = "*"
click = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3"
