[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hdbscan = "*"
matplotlib = "*"
numpy = "*"
orjson = "*"
pandas = "*"
pyftdi = "*"
pyserial = "*"
pyusb = "*"
pyzmq = "*"
requests = "*"
scipy = "*"
tiflash = "*"

[dev-packages]

[requires]
python_version = "3"
